@using eStoryContainer.Core.Utils
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model eStoryContainer.Core.ViewModels.HomePage

@for (int i = 0; i < Model.Stories.Count; i++)
{
    var item = Model.Stories[i];
    <div class="item top-@(i+1)" itemscope="" itemtype="https://schema.org/Book">
        <a href=@item.slug itemprop="url">
            @*<span class="full-label"></span>*@
            <img src=@item.avatar_path alt=@item.story_name class="img-responsive item-img" itemprop="image">
            <div class="title">
                <h3 itemprop="name">@item.story_name</h3>
            </div>
        </a>
    </div>
}

<script>
    //function loadData2() {
    //    var catName = $("#hot-select").val();
    //    $.ajax({
    //        type: "GET",
    //        url: "hot-stories",
    //        data: { catName: catName },
    //        contentType: "application/json; charset=utf-8",
    //        success: function (datas) {
    //            Mod
    //        },
    //        error: function (req, status, error) {
    //            console.log(error);
    //        }
    //    });
    //}

    //$(document).ready(function () {
    //    loadData2();
    //});
</script>