/.vs
/.idea
/ScanStory/spiders/__pycache__
/ScanStory/__pycache__
/ScanStory/spiders/TruyenFull/__pycache__
/truyendochay/.vs
/truyendochay/truyendochay/bin
/truyendochay/truyendochay/obj

/eStoryContainer/.vs/eStoryContainer/config
/eStoryContainer/eStoryContainer.Core/bin/Debug/netcoreapp3.1
/eStoryContainer/eStoryContainer.Core/obj
/eStoryContainer/eStoryContainer.Data/obj
/eStoryContainer/eStoryContainer.Data/bin/Debug/netcoreapp3.1
/eStoryContainer/eStoryContainer.Logging/obj/Debug/netcoreapp3.1
/eStoryContainer/eStoryContainer.Logging/obj
/eStoryContainer/eStoryContainer.Services/obj
/eStoryContainer/eStoryContainer.Services/bin/Debug/netcoreapp3.1
/eStoryContainer/eStoryContainer.Web/bin/Debug/net5.0
/eStoryContainer/eStoryContainer.Web/obj
/eStoryContainer/.vs/eStoryContainer/DesignTimeBuild
/eStoryContainer/eStoryContainer.Logging/bin/Debug/netcoreapp3.1
/eStoryContainer/eStoryContainer.ApiController/obj
/eStoryContainer/eStoryContainer.ApiController/bin
eStoryContainer/eStoryContainer.Web/node_modules
NewScanStory/node_modules
eStoryContainer/.vs
ScanStory/.idea
ScanStory/Models/__pycache__/
truyendochay/.vs/
truyendochay/truyendochay/obj/
truyendochay/truyendochay/obj/Debug/net5.0/truyendochay.csproj.FileListAbsolute.txt
