@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="footer" class="footer">
    <div class="container">
        <div class="hidden-xs col-sm-5">
            <strong>Truyện Full</strong> - <a title="Đọc truyện online"
                                              href="https://truyenfull.vn/">Đọc truyện</a> online, <a title="Đọc truyện chữ"
                                                                                                      href="https://truyentr.com/">đọc truyện</a> chữ, <a title="Truyện hay"
                                                                                                                                                          href="https://truyenfull.vn/">truyện hay</a>. Website luôn cập nhật những bộ <a title="Truyện mới" href="https://truyenfull.vn/danh-sach/truyen-moi/">truyện mới</a> thuộc các
            thể loại đặc sắc như <a title="Truyện tiên hiệp"
                                    href="https://truyenfull.vn/the-loai/tien-hiep/">truyện tiên hiệp</a>, <a title="Truyện kiếm hiệp" href="https://truyenfull.vn/the-loai/kiem-hiep/">truyện kiếm hiệp</a>,
            hay <a title="Truyện ngôn tình" href="https://truyenfull.vn/the-loai/ngon-tinh/">
                truyện ngôn
                tình
            </a> một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.
        </div>
        <ul class="col-xs-12 col-sm-7 list-unstyled">
            <li class="text-right pull-right">
                <a href="https://truyenfull.vn/contact/"
                   title="Contact">Contact</a> - <a href="https://truyenfull.vn/tos/"
                                                    title="Terms of Service">ToS</a><a class="backtop" title="Trở lên đầu trang" href="#wrap"
                                                                                       rel="nofollow" aria-label="Trở về đầu trang">
                    <span class="glyphicon glyphicon-upload"></span>
                </a>
            </li>
            <li class="hidden-xs tag-list">
                <a href="https://truyenfull.vn/danh-sach/dam-my-hai/"
                   title="đam mỹ hài">đam mỹ hài</a> <a href="https://truyenfull.vn/the-loai/xuyen-nhanh/"
                                                        title="truyện xuyên nhanh">truyện xuyên nhanh</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/" title="ngôn tình sủng">
                    ngôn tình
                    sủng
                </a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="ngôn tình hài">
                    ngôn
                    tình hài
                </a> <a href="https://truyenfull.vn/danh-sach/truyen-teen-hay/"
                        title="truyện teen hay">truyện teen hay</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="ngôn tình hay">
                    ngôn tình
                    hay
                </a> <a href="https://truyenfull.vn/the-loai/dam-my/" title="truyện đam mỹ">
                    truyện đam
                    mỹ
                </a> <a href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/"
                        title="truyện ngôn tình">truyện ngôn tình</a> <a href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/" title="ngôn tình hoàn">
                    ngôn tình
                    hoàn
                </a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/"
                        title="ngôn tình ngược">ngôn tình ngược</a> <a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/" title="truyện kiếm hiệp hay">
                    truyện
                    kiếm hiệp hay
                </a> <a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/"
                        title="truyện tiên hiệp hay">truyện tiên hiệp hay</a> <a href="https://truyenfull.vn/the-loai/he-thong/" title="truyện hệ thống">truyện hệ thống</a>
            </li>
        </ul>
    </div>
</div>