<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    @*<title>Đọc truyện online,truyện đọc hay</title>*@
    <title>@ViewData["Title"] - truyendochay</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description"
          content="Đọc truyện online, đọc truyện chữ, truyện hay, truyện đọc hay. Truyện Đọc Hay luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất.">
    <meta name="keywords" content="doc truyen, doc truyen online, truyen hay, truyen chu">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="canonical" href="http://truyendochay.com/" />
    <link as="font" crossorigin="crossorigin" type="font/woff" href="~/fonts/Roboto-Regular.woff" />
    <link as="font" crossorigin="crossorigin" type="font/woff" href="~/fonts/RobotoCondensed-Regular.woff" />
    @*<title>@ViewData["Title"] - truyendochay</title>*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" as="style" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" as="style" type="text/css" href="~/css/main.css" />
    @*<link rel="stylesheet" as="style" type="text/css" href="~/css/output.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body id="body_home" class="dark-theme">
    <div id="wrap">
        <header>
            @*@await Html.PartialAsync("_Header")*@
            @await Component.InvokeAsync("Header");
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer">
        @await Html.PartialAsync("_Footer")
    </footer">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #ffffff;
        }
    </style>
</body>
</html>
